{% load static %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link " href="#">
          <span data-feather="home"></span>
        <span class="home"><i class="fa-solid fa-wallet fa-lg"></i>  Manage Your Budget</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'expenses' %}">
          <i class="fa-solid fa-share-from-square"></i><span>Expenses</span> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'income' %}">
         <i class="fa-solid fa-person-digging"></i><span>Income</span> 
        </a>
      </li>
    </ul>

    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span class="home"><i class="fa-solid fa-database fa-lg"></i>  Manage Your Data</span>
      <a
        class="d-flex align-items-center text-muted"
        href="#"
        aria-label="Add a new report"
      >
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exstats' %}">
        <i class="fa-solid fa-chart-line"></i><span>Expenses Summary</span> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hexstats' %}">
          <span data-feather="file-text"></span>
          <i class="fa-solid fa-chart-gantt"></i><span>Income Summary</span> 
        </a>
      </li>
    </ul>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link " href="#">
          <span data-feather="home"></span>
        <span class="home"><i class="fa-solid fa-coins fa-lg"></i> Manage Your Wallet</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'preferences' %}">
          <i class="fa-solid fa-euro-sign fa-lg"></i><span>  Currency</span> 
        </a>
      </li>
    </ul>
  </div>
</nav>

 <div class="hide">
            <ul id="navbar">
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="src/html/shop.html">Shop</a></li>
                <li><a href="src/html/blog.html">Blog</a></li>
                <li><a href="src/html/about.html">About</a></li>
                <li><a href="src/html/contact.html">Contact</a></li>
                <li id="lg-bag"><a href="src/html/cart.html"><i class="fa-solid fa-bag-shopping active"></i><span> (0)</span></a></li>
                <a href="#" id="close"><i class="fa-solid fa-square-xmark"></i></a>
            </ul>
        </div>