{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-body">
        <div class="card-title py-3">
          <h4>Please enter you email to get reset link.</h4>
        </div>
        <form action="{% url 'request-password' %}" method="post">
          {% csrf_token %}

          {% include 'partials/_messages.html' %}
          
          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="form-control form-control-sm"
              id="emailField"
              value="{{values.email}}"
            />
          </div>

          <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />
        </form>

        <div class="container">
          <span class="text-lead lead">Have an account? <a href="{% url 'login' %}">Login</a></span> 
          <br>
          <span class="text-lead lead">Dont have an account? <a href="{% url 'register' %}">Sign up</a></span> 
        </div>
      </div>
      </div>
    </div>
  </div>

   <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-body">
        <div class="card-title py-3">
          <h4>Welcome at CLI Expenses</h4>
          <p>Managing expenses and incomes can be a daunting task, especially when it comes to keeping track of all the details and making sure everything is in order.</p>
          
          <h4>Instructions</h4>
          <h5>Make sure you follow steps bellow to reset the passwor:</h5>
          <ol>
            <li>Input your email and press submit button.</li>
            <li>You will receive a confirmation email, follow the steps in email provided.</li>
            <li>After successfully you confirm, use your username and password to log in.</li>
          </ol>
        </div>

      </div>
      </div>
    </div>
  </div>
 
<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}